<div class="container">
    <section>
        <div class="imgBx">
            <img src="../../../../assets/images/login book stack.png">
        </div>

        <div class="contentBx">
            <div class="formBx">
                <h2>Login</h2>
                <form>
                    <div class="inputBx">
                        <span>Username</span>
                        <input matInput name="UserName" #userName placeholder="Username" value="" formControlName="username">
                    </div>
                    <div class="inputBx">
                        <span>Password</span>
                        <input matInput name="Password" #password type="password" placeholder="Password" value="" formControlName="password">

                    </div>
                    <div class="remember">
                        <label><input type="checkbox" name="">Remember me</label>
                    </div>
                    <div class="inputBx">
                        <input type="submit" (click)="login(userName.value,password.value)" value="Sign in" name="">
                    </div>
                    <div class="inputBx">
                        <p>Don't have an account? <a href="#">Sign up</a></p>
                    </div>
                </form>
                <h4>Login with social media</h4>
                <ul class="sci">
                    <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </section>
</div>