<div class="sidebar-container">
    <div class="sidebar-logo">
        Knowledge Hunt
    </div>
    <ul class="sidebar-navigation">
        <li class="header text-center"><i class="fa fa-user-circle-o" aria-hidden="true" style="font-size: 23px;"></i>User</li>
        <li>
            <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i> Homepage
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-users" aria-hidden="true"></i> Users
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa fa-book" aria-hidden="true"></i> Books
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-commenting" aria-hidden="true"></i>Issues
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cog" aria-hidden="true"></i> settings
            </a>
        </li>
    </ul>
</div>