<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-2">
            <app-sidebar></app-sidebar>
        </div>

        <div class="col-sm-12 col-md-10">
            <div class="container">
                <!-- cards row start -->
                <div class="row card-row justify-content-evenly">
                    <div class="col-sm-4">
                        <div class="card " style="width: 18rem;">
                            <div class="icon">@</div>
                            <div class="card-body">
                                <h5 class="card-title">1</h5>
                                <p class="card-text">Books</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <div class="icon">@</div>
                            <div class="card-body">
                                <h5 class="card-title">1</h5>
                                <p class="card-text">Books</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card" style="width: 18rem;">
                            <div class="icon">@</div>
                            <div class="card-body">
                                <h5 class="card-title">1</h5>
                                <p class="card-text">Books</p>
                            </div>
                        </div>
                    </div>





                </div>
                <!-- cards row end -->
                <!-- issue row starts -->
                <div class="row justify-content-evenly">
                    <div class="col-sm-5 issue block text-center p-3 ">
                        <h4 class="label">Issue A Book </h4>
                        <button class="btn btn-outline-light p-1">Issue +</button>
                    </div>
                    <div class="col-sm-5 insert block text-center p-3">
                        <h4 class="label">Insert A New Book</h4>
                        <button class="btn btn-outline-light p-1">Insert +</button>
                    </div>

                </div>
                <!-- /issue row -->

                <div class="row table-row">
                    <div class="col-sm-12">
                        <h3>Last 5 book Issues</h3>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Book Name</th>
                                    <th scope="col">Book Code</th>
                                    <th scope="col">Issued to</th>
                                    <th scope="col">Issued Date</th>
                                    <th scope="col">Issued Days</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Mark</td>
                                    <td>Otto</td>

                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>Mark</td>
                                    <td>Otto</td>

                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                    <td>Mark</td>
                                    <td>Otto</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>